1<input />
<br />
2<input type="text" />
<br />
3<input type="password" />
<br />
4<input type="submit" />
<br />
5<input type="text" placeholder="Search" />
<br />
6<input type="text" value="Search" />